.article-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.article-box {
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.homepage-container {
    align-items: center;
    width: 100%;
}

/* Event Form */
.event-form-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.event-form-container h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.event-form-container form {
    display: flex;
    flex-direction: column;
}

.event-form-container label {
    margin-bottom: 8px;
}

.event-form-container input,
.event-form-container textarea {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.event-form-container button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.event-form-container button[type="button"] {
    background-color: #ccc;
    margin-top: 10px;
}


